<app-header titulo="Detallle pedido"></app-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>{{pedido.fechaLimite}}</ion-label>
          <ion-button fill="outline" slot="end">Ver mapa</ion-button>
        </ion-item>

        <ion-card-content *ngIf="cliente">
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>Cliente: {{cliente.nombre}}</ion-label>
           </ion-item>
           <ion-item>
                <ion-icon name="ios-information-circle-outline" slot="start" color="primary"></ion-icon>
                <p> Datos del pedido: </p>
                <p> Aqui irian todos los items pedido jsnsjnsksksksnsjn
                        ksmlksmlsklsslml
                        kksks
                     </p>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>
