<app-header titulo="Pedidos"></app-header>

<ion-content>

  <ion-list>
    <ion-reorder-group [disabled]="false"
                       (ionItemReorder)="reorder( $event )"> 

        <ion-item *ngFor="let usuario of pedidos" >
            <ion-label>Producto</ion-label>
            <ion-reorder slot="end"></ion-reorder>
        </ion-item>

    </ion-reorder-group>
    

  </ion-list>
  
  <ion-button expand="full"
              (click)="OnClick()">
    Armar recorrido
  </ion-button>

</ion-content>
