<app-header titulo="Pedidos"></app-header>


<ion-content>
    <ion-button fill="outline" slot="end">Ver mapa</ion-button> 
   <ion-card *ngFor="let pedido of pedidos">
    <ion-card-content (click)="verDetalles(pedido)">
      <ion-item>
        <ion-icon name="person" slot="start" color="primary"></ion-icon>
        <ion-label>Cliente: {{pedido.cliente.nombre}} </ion-label>
      </ion-item>
      
      <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text >
              <h3>H3 Primary Title</h3>
            </ion-text>
            <p>Paragraph line 1</p>
            <ion-text color="secondary">
              <p>Paragraph line 2 secondary</p>
            </ion-text>
          </ion-label>
      </ion-item>

      <ion-item>
          <ion-icon name="pin" slot="start" color="primary"></ion-icon>
          <ion-label>Calle: {{pedido.cliente.domicilio}} </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
 
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
      <ion-button expand="full" class="shadow-red" shape="round" routerLink="/modificar-entrega">Modificar recorrido </ion-button>
      
  </ion-toolbar>
</ion-footer> -->

<ion-footer>
  <ion-toolbar >
      <ion-button expand="full" shape="round" (click)="pasarPedAModificar()"> Modificar recorrido</ion-button>
      <ion-button expand="full" shape="round" color="success"> Finalizar recorrido</ion-button>
  </ion-toolbar>
</ion-footer>
