<ion-header no-border >
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start" >
      <ion-menu-button  menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Repartidor App</ion-title>
  </ion-toolbar>
</ion-header>

 

<ion-content class="background">

  <!-- los [] son porque viene desde el modelo hacia la interfaz y los () cuando van de la interfaz al modelo-->
 <ion-list >

   <ion-item *ngFor="let componente of componentes"
             [routerLink]="componente.redirecTo" 
             detail>
     <ion-icon slot="start" [name]="componente.icon"></ion-icon>
     <ion-label>{{componente.name}}</ion-label>
   </ion-item>

  </ion-list>  

</ion-content>
