<app-header titulo="Entregas pendientes"></app-header>

<ion-content class="background">
  
        <ion-card *ngFor="let pedido of pedidos" color="light">
          <ion-item class="back">
            <ion-icon name="person" slot="start" color="primary"></ion-icon>
            <p>{{pedido.cliente.nombre}}</p>  
            <ion-checkbox color="primary" fill="outline" slot="end" (ionChange)="agregarPedido($event, pedido)"></ion-checkbox>
          </ion-item>
        
          <ion-card-content (click)="verDetalles(pedido)">
             <strong> Fecha de creación:</strong>  {{pedido.fechaCreacion| date}} 
             <strong> Fecha limite:</strong> {{pedido.fechaLimite | date}}
         
          </ion-card-content>
          
        </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar >
     
     <ion-item button color="tertiary" shape="round"  (click)="obtenerPedidosSeleccionados()">
       <p text-align="center" >Armar recorrido</p>
       <ion-icon slot="start" name="car"></ion-icon>
     </ion-item>
        
  </ion-toolbar>
</ion-footer>


 