<app-header titulo="Entregas pendientes"></app-header>

<ion-content class="background">

  <div *ngIf="pedidos.length === 0">
    <loading></loading>
  </div>

  <div *ngIf="pedidos.length > 0">
        <ion-card *ngFor="let pedido of pedidos" color="light">
          <ion-item class="back">
            <ion-icon name="person" slot="start" color="primary"></ion-icon>
            <p>{{pedido.cliente.nombre}}</p>  
            <ion-checkbox color="primary" fill="outline" slot="end" (ionChange)="agregarPedido($event, pedido)"></ion-checkbox>
          </ion-item>
        
          <ion-card-content color="light" >
            <ion-item color="light">
              <ion-label>Fecha de creación: </ion-label> {{pedido.fechaCreacion| date}} 
            </ion-item>
            <ion-item color="light">
              <ion-label>Fecha limite:</ion-label> {{pedido.fechaLimite | date}}
            </ion-item>
            <ion-toolbar class="back">
              <ion-button (click)="verDetalles(pedido)" color="primary" fill="clear" slot="end"> Ver mas ...</ion-button>
            </ion-toolbar>
          
         
          </ion-card-content>
          
        </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar >
     
     <ion-button slot="start" fill="clear"size="small" color="tertiary" shape="round"  (click)="obtenerPedidosSeleccionados()">
       Armar recorrido
       <ion-icon slot="start" name="car"></ion-icon>
     </ion-button>
     <ion-button slot="end" fill="clear" size="small" color="tertiary" shape="round"  (click)="sugerirRecorrido()">
      Sugerir recorrido
    </ion-button>
        
  </ion-toolbar>
</ion-footer>


 