ion-content {
    --background: #fff url('../../../assets/img/bg.jpg') no-repeat center center / cover;
}

ion-card {
    --background: #587bad;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.back{
    --ion-background-color: #b9c7da;
}