<app-header titulo="Seleccionar cliente"></app-header>

<ion-content>
  <ion-toolbar color= "tertiary">
    <ion-searchbar placeholder="Buscar usuario..."
                   animated 
                  (ionChange)="buscar( $event )" ></ion-searchbar>
  </ion-toolbar>

  <ion-list *ngIf="clientes.length === 0">
    <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <ion-skeleton-text width="40%"></ion-skeleton-text>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="clientes.length > 0">
  <ion-card  *ngFor="let cliente of clientes | filtro: textoBuscar"  (click)="seleccionado(cliente)">
      <ion-item >
        <ion-label color="primary" position="stacked">Cliente: </ion-label>
        <ion-input readonly >{{cliente.nombre}}</ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label color="primary" position="stacked">Direccion: </ion-label> 
          <ion-input readonly type="text">{{cliente.direccion}}</ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary" position="stacked">Correo: </ion-label> 
          <ion-input readonly type="text">{{cliente.email}}</ion-input>
      </ion-item>
  </ion-card>
</ion-list >
</ion-content>
